{{ 'promo-banner.css' | asset_url | stylesheet_tag }}
<div id="promo-banners">
  <!-- Banners will be injected here by JavaScript -->
</div>
<script src="{{ 'promo-banner.js' | asset_url }}" defer="defer"></script>
{% schema %}
{
  "name": "Promo Banners",
  "settings": [],
  "blocks": [
    {
      "type": "banner",
      "name": "Banner",
      "settings": [
        {
          "type": "color",
          "id": "background_color",
          "label": "Background color"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Text color"
        },
        {
          "type": "text",
          "id": "message",
          "label": "Message",
          "info": "E.g Your {discount_value}% off discount code {discount_code} will auto-apply at checkout."
        },
        {
          "type": "text",
          "id": "utm_medium",
          "label": "UTM Medium"
        },
        {
          "type": "text",
          "id": "discount_code",
          "label": "Discount code"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Default",
      "category": "Banners"
    }
  ]
}
{% endschema %}