#promo-banners{
  display:flex;
}
#promo-banners p {
  top: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
  background-color: var(--background-color);
  color: var(--text-color);
}
#promo-banners button {
  margin-left: 20px;
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
}